/* место для вашего кода */
.header {
    /*Заголовок внутри и снаружи*/
    margin-top: 92px;
    margin-right: 49px;
    margin-bottom: 92px;
    margin-left: 51px;
    /*display: flex;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Разбиваем на три колонки: левая, центральная и правая */
    /*justify-content: space-between;*/
    align-items: center;
    /*background-color: aquamarine;*/
}

.navigation {
    /*блок навигации, расположение в header*/
    justify-self: start;
    /* Выравниваем по левому краю */
}

.navigation_list {
    /*внутренняя структура блока нав*/
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

.navigation_list_item {
    /*стиль списка*/
    list-style: circle;
}

.list_item_link {
    /*стиль ссылки*/
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    line-height: normal;
    color: #000;
}

.navigation_list_item_active .list_item_link {
    /*активная ссылка*/
    border-bottom: 0;
}

.header__links-list-item_no-bullit {
    /*св-во без маркера*/
    list-style-type: none;
}

.header_logo {
    /*ширина ссылки*/
    display: block;
    width: 148px;
    justify-self: center;
    /* Выравниваем по центру */
}

.header_logo-image {
    /*ширина лого*/
    width: 100%;
}

.header__address {
    /*блок с адресом*/
    justify-self: end;
    /* Выравниваем по правому краю */
}

.address {
    /*контейнер с адресом;*/
    font-style: normal;
    /* Сброс стандартных стилей для тега <address> */
    display: flex;
    flex-direction: column;
}

.address_link {
    /*оформление tel,email*/
    color: #000;
    font-size: 18px;
    line-height: 24.3px;
    /* 135% */
    text-decoration: underline;
    text-underline-position: under;
}

.cover {
    /*задний фон*/
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.cover::before {
    /*оверлей*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: 1;
}

.cover_title {
    /*оно тебе надо*/
    position: relative;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-top: 165px;
    padding-right: 50px;
    padding-bottom: 135px;
    padding-left: 50px;
    gap: 20px;
    z-index: 2;
}

.accent-span {
    /*стиль для всех span (сам по себе span inline, не будет переноса)*/
    display: block;
    letter-spacing: 30px;
}

.text-begin {
    /*расположение строк*/
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.letter-spacing-extended {
    /*акценты*/
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    /*блок с подзаголовком и кнопкой*/
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 78px;
    justify-content: right;
    z-index: 2;
    padding-right: 50px;
    padding-bottom: 50px;
}

.cover__description-text {
    /*текст подзаголовка*/
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 127.273% */
    text-transform: uppercase;
    word-spacing: 18px;
    align-self: center;
    /*управляет выравниванием конкретного flex элемента по перекрёстной оси*/
}

.bet-button {
    /*стиль кнопки*/
    background-color: transparent;
    border: 1px solid white;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
}

.lots {
    /*паддинги секции с карточками*/
    padding: 180px 50px 181px;
}

.lots__heading {
    /*заголовок секции с карточками*/
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: start;
    padding-right: 1179px;
    padding-bottom: 27px;
    padding-left: 40px;
}

.cards-list {
    /*список карточек*/
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    /*предмет списка, отсутствие маркеров*/
    list-style-type: none;
    flex-grow: 1;

}

.card {
    /*блок карточек*/
    width: 430px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*помогло отодвинуть параграф от заголовка*/
}

.card_type_film {
    /*изображение 1-ой карточки*/
    position: relative;
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film::before {
    /*оверлей 1-ой карточки*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: 1;
}

.card__title {
    /*стиль заголовка карточки*/
    z-index: 2;
    position: relative;
    /*иначе полупрозрач. текст становится*/
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
}

.card__text {
    /*стиль параграфа карточки*/
    position: relative;
    z-index: 2;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    flex-wrap: wrap;
}

.card_type_book {
    /*изображение 2-ой карточки*/
    position: relative;
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book::before {
    /*оверлей 2-ой карточки*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: 1;
}

.card_type_picture {
    /*изображение 3-ей карточки*/
    position: relative;
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture::before {
    /*оверлей 3-ей карточки*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: 1;
}

.lots__look-more-link { 
    /*посмотреть больше*/
    display: block;
    height: 23px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about {
    /*секция «Об аукционе»*/
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 180px;
    display: grid;
    align-items: start;
    grid-template-columns: 430px 1fr; /* Левая колонка фиксированной ширины, правая занимает всё оставшееся пространство */
    grid-gap: 25px; /* Отступ между колонками */
}
.about__left-column {
    width: 430px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%; /* Создание круглого контейнера */
    display: flex;
    justify-content: center; /* Выравнивание логотипа по горизонтали внутри контейнера */
    align-items: center; /* Выравнивание логотипа по вертикали внутри контейнера */
}
.about__logo-image {
    width: 148px;
    height: 114px;
}
.about__title {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about__text {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about__text:first-of-type {
    margin-bottom: 25px; /* Нижний отступ только для первого абзаца */
}
.footer {
    margin-right: 50px;
    margin-bottom: 90px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
}
.footer_address {
  display: flex;
  align-items: flex-start;

}
.footer_center-column {
    display: block;
    justify-self: center;
}
.footer_menu {
    text-align: center; /* Выравнивание текста по центру внутри навигации */
}
.footer__menu-list {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
}
.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid black;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer_right-column {
    display: flex;
    justify-self: end; /* Выравнивание элементов по центру */
}
.footer__social-list {
    list-style: none; /* Убираем маркеры списка */
    display: flex;
    flex-direction: row;
    gap:45px;
    width: 240px;
    height: 48px;
}





