/* место для вашего кода */
.header { /*Заголовок внутри и снаружи*/
    margin-top: 92px;
    margin-right: 49px;
    margin-bottom: 92px;
    margin-left: 51px;
    /*display: flex;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Разбиваем на три колонки: левая, центральная и правая */
    /*justify-content: space-between;*/
    align-items: center;
    /*background-color: aquamarine;*/
}
.navigation {           /*блок навигации, расположение в header*/
    justify-self: start; /* Выравниваем по левому краю */
}
.navigation_list {      /*внутренняя структура блока нав*/
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}
.navigation_list_item { /*стиль списка*/
    list-style: circle;
}

.list_item_link{ /*стиль ссылки*/
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    line-height: normal;
    color: #000;
}
.navigation_list_item_active .list_item_link { /*активная ссылка*/
    border-bottom: 0;
}
.header__links-list-item_no-bullit{/*св-во без маркера*/
    list-style-type: none;
}
.header_logo{   /*ширина ссылки*/
    display: block;
    width: 148px;
    justify-self: center; /* Выравниваем по центру */
}
.header_logo-image{ /*ширина лого*/
    width:100%;
}
.header__address { /*блок с адресом*/
    justify-self: end; /* Выравниваем по правому краю */
}
.address{  /*контейнер с адресом;*/
    font-style: normal; /* Сброс стандартных стилей для тега <address> */
    display: flex;
    flex-direction: column;
}
.address_link{/*оформление tel,email*/
    color: #000;
    font-size: 18px;
    line-height: 24.3px; /* 135% */
    text-decoration:underline;
    text-underline-position: under;
}
.cover{  /*задний фон*/
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-bottom: 50px;
    padding-right: 50px;
}
.cover::before{ /*оверлей*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: 1;
}
.cover_title { /*оно тебе надо*/
    position: relative;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 165px 0px 187px 50px;
    z-index: 2;
}
.accent-span { /*стиль для всех span (сам по себе span inline, не будет переноса)*/
    display: block;
}
.text-begin{
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.cover__description{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 78px;
    justify-content: right;
    z-index: 2;
}
.cover__description-text{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 18px;
    align-self: center; /*управляет выравниванием конкретного flex элемента по перекрёстной оси*/
}
.bet-button{
    background-color: transparent;
    border: 1px solid white;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
}